{% extends 'base.html' %}
{% block content %}

{% load static %}
<div class="parent_div d-flex flex-wrap p-5">  <!-- Added flex-wrap to handle multiple cards -->
    {% for i in meals %}
    <div class="card m-2" style="width: 18rem;">  <!-- Added margin to cards for spacing -->
        <img src="{{ i.strMealThumb }}" class="card-img-top" alt="image">
        <div class="card-body">
          <h5 class="card-title">{{ i.strMeal }}</h5>  <!-- Corrected to use card-title class -->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% comment %} JavaScript {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
